.container {
  display: grid;

  grid-template-columns: repeat(3, 200px);
  grid-template-rows: 200px 300px;
  grid-auto-flow: column;
  gap: 16px;
  /* width: 1280px; */
  border: 1px solid;
  /* writing-mode: vertical-lr; */

  /* justify-content: center;
  align-content: center; */
  /* place-content: center start; */
  /* place-items: start center; */
  /* justify-items: center;
  align-items: center; */
  height: 100vh;
}
.container > div {
  background-color: lightcoral;
  border: 1px solid;
}
