:root {
  --background-clr: lightgray;
  --text-clr: black;
  --fs: 1.2rem;
}

body {
  background-color: var(--background-clr);
  color: var(--text-clr);
  font-size: var(--fs);
}

@media (prefers-color-scheme: dark) {
  body {
    --background-clr: black;
    --text-clr: white;
  }
}
