.container {
  display: grid;
  /* grid-template-columns: repeat(3, 200px); */
  /* grid-template-columns: minmax(200px, 1fr); */
  /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 200px auto;
  /* grid-auto-flow: column; */
  gap: 16px;
  /* width: 1280px; */
  border: 1px solid;
  /* writing-mode: vertical-lr; */
}
.container > div {
  background-color: lightcoral;
}
